.carousel_wrapper {
    height:88vh;
    overflow: hidden;
    @include bp_tablet_up{
        height:100vh;
    }
}

.carousel_image {
    height: 88.2vh;
    background-size: 250% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    @include bp_tablet_up{
        height:100vh;
        background-size: cover !important;
    }
}

.artist_name {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   
    border: 2px solid white;
    
    .wrapper {
        border: 2px solid white;
        margin: 6px;
        text-align: center;
        color: #fff;
        font-size: 40px;
        padding: 21px 70px;
        text-transform: uppercase;
    }
    @include bp_tablet_up{
        width: 400px;
    }
}
