.vn_wrapper {
    display: flex;
    padding: 150px 0px;
    flex-direction: column;
    align-items: center;
    @include bp_tablet_up{
        flex-direction: row;
        padding: 170px 0px;
    }
}

.vn_item {
    width:75%;
    color:$color-white;
    text-align: center;
    @include bp_tablet_up{
        width:50%;
    }
    &:first-child {
        margin-bottom: 120px;
        @include bp_tablet_up{
            margin-bottom: 0;
        }
    }

    .vn_outer {
        width: 100%;
        border: 2px solid #828282;
        margin: auto;
        padding: 5px;
        @include bp_tablet_up{
            width:300px;
        }
    }
    .vn_inner { 
        border: 2px solid #828282;
        position: relative;
        padding: 0px 20px;
        transition: all .25s ;
    }
    .vn_inner:hover {
        background: lighten($color: $color-slateGrey, $amount: 3);
        transform: scale(1.05);
        .vn_icon{
            transform: rotateY(180deg);
        }
    }
    .vn_icon_square {
        width: 100px;
        height: 100px;
        position: absolute;
        transform: translateX(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) rotate(45deg);
        -webkit-transform: translateX(-50%) rotate(45deg);
        top: -54px;
        left: 50%;
        @include bp_tablet_up{
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            left: 100px;
        }
    }
    .vn_icon {
        width: 50px;
        height: 50px;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transition: all .25s;
        @include bp_tablet_up{
            transform: none;
            -ms-transform: none;
            -webkit-transform: none;
            left: 124px;
        }
    }
    .vn_title {
        font-size: 28px;
        margin: 90px 0px 20px 0px;
        border-bottom: 1px solid #5d5d5d;
        padding-bottom: 10px;
    }
    .vn_desc {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 90px;
    }



}
